@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes play {
   100% { background-position: -5520px; }
}
@keyframes listen {
   100% { background-position: -2160px; }
}
html {
    animation: fade 1s;
    min-height: 600px;
    min-width: 706px;
    width: 100%;
}
body{
    background: url('../images/bg4.jpg');
    background-position: center;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
b {
    margin-left: 10px;
}
::selection { background: rgba(0,0,0,1); color: #fff;}
.left_tools {
    overflow: hidden;
    float: left;
    width: 33.33333333333333%;
}
.right_tools {
    overflow: hidden;
    float: right;
    width: 33.33333333333333%;
}
.center_tools {
    width: 242px;
    margin: 0 auto;
}
.right_tools button {
    float: right;
}
.toolbar button{
    display: inline-block;
    padding: 0px;
}
.dots {
    min-height: 100%;
    min-width: 100%;
    background-image: url(../images/dot.png);
    position: fixed;
    z-index: -99;
}
.logo{
    border-right: 1px solid #fff;
    padding-right: 10px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}
.logo p {
    float: right;
    display: inline-block;
    margin: 0;
    padding: 10px;
    opacity: .8;
    font-size: 8pt;
    text-shadow: 0px 0px 5px #000;
}
#greeting {
    font-size: 12pt;
    margin-top: 2px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    float: left;
    text-transform: uppercase;
}
.toolbar{
    padding: 20px;
    overflow: hidden;
    padding-bottom: 0;
}
#bottomtoolbar{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;    
    position: absolute;
    bottom: 0px;
    padding: 20px;
    overflow: hidden;
    padding-top: 0;
}
.profile p {
    margin-top: 18px;
    float: left;
}
.profile img {
    margin: 16px;
    margin-right: 25px;
    float: left;
}
.grappl {
    position: absolute;
    width: 100%;
    top: 45%;
}
input[type=text]{
    color: #fff;
    border: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
input:focus {
    outline:none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  rgba(255,255,255,0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:  rgba(255,255,255,0.5);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  rgba(255,255,255,0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  rgba(255,255,255,0.5);
}
.controls {
    width: 0px;
    margin: 0 auto;
    margin-top: 14px;
    border-bottom: 1px solid #fff;
    transition: all 0.5s ease;
}
.controls button {
    background: none;
    border: none;
    padding: 0;
    margin: 20px;
}
button {
    background: none;
    border: none;
    display: none;
}

button:focus {
    outline:none;
}
select {
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    min-width: 90px;
    border: 0 ; 
    color: #fff;
    background-color: rgba(0,0,0,0);
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    width: 80px;
    margin: 22px;
    margin-left: 0px;
    margin-right: 0px;
    float: right;
    display: inline-block;
}
select#engine {
    opacity: 1;
    transition: all 0.5s ease;
}
select:focus {
    outline: none;
}
option {
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;
    background-color: #000;
    border: 0 !important;
    padding: 10px;
}
ul {
    padding: none;
    margin: 0px;
}
li {
    display: inline-block;
    opacity: 0;
    padding: 18px; 
    border-bottom: 1px solid #fff;
    margin: 0px;
    font-size: 10pt;
    text-transform: uppercase;
}
li:hover {
    background-color: #000;
    color: #fff;
    display: inline-block;
    opacity: 1;
}
ul p:hover {
    opacity: 1;
}
iframe#redirectChecker {
    
}
#load {
    display: none;
    width: 60px;
    height: 60px;
    background: url('../images/loading/loading.png') left center;
    animation: play 1s steps(92) infinite;
}
.speechBox {
    position: absolute;
    width: 100%;
    top: 70%;
}
.speech {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background: url('') left center;
    animation: listen 1s steps(36) infinite;
}
button#speech {
    display: inline;
    padding: 0;
    margin: 0;
}
#clock {
    font-size: 14pt;
    font-family: 'roboto' sans-serif;
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}
.menu {
    border-radius: 5px;
    padding: 0px;
    margin: 10px;
    color: #000;
    width: 300px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px -5px #000;
    transition: .6s all ease;
}
.menu p {
    margin: 20px;
}
.menu_title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    color: #000;
    text-align: center;
}
.menu_content {
    padding: 10px;
}
#todo {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 30;
}
#add_todo {
    display: inline-block;
    padding: 0px;
    margin-top: 5px;
}