<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/search.css">
        <link type="text/css" rel="stylesheet" href="themes/ios7.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
        <script src="js/jquery-1.11.3.min.js"></script>
        <meta charset="UTF-8">
		<title>Change Background</title>
	</head>
	<body style="animation: none;">
        <div id="img" class="dots"></div>
        <input accept="image/*" type="file" id="changebg" class="chbg">
        <div class="toolbar">
            <div class="left_tools">
<!--                <a id="apps"><button><img class="ui_icon" src="images/apps.png"></button></a>-->
            </div>
            <div class="right_tools">
<!--                <button id="settings_toggle"><img class="ui_icon" src="images/settings.png"></button>-->
              <div id="clock"></div>
            </div>
        </div>
        <div id="center_tools" class="center_tools">
                <div id="greeting" style="padding: 23px;">CHANGE BACKGROUND</div>
        </div>
        <div class="toolbar" id="bottomtoolbar">
            <div class="left_tools">
                <img src="images/grapplr_logo.png" />
            </div>
            <div class="center_tools">
            </div>
            <div class="right_tools">
            </div>
        </div>
	</body>
    <grapplrEngine>
        <script language="javascript" type="text/javascript" src="js/grapplrEngine/chbg.js"></script>
        <script language="javascript" type="text/javascript" src="js/grapplrEngine/setbg.js"></script>
        <!--Link custom scripts here-->
    </grapplrEngine>
</html>
