<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/search.css">
<!--        <link type="text/css" rel="stylesheet" href="themes/blue.css">-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
        <script src="js/jquery-1.11.3.min.js"></script>
        <meta charset="UTF-8">
		<title>Nickname this page</title>
        <style>
            .dots {
                opacity: .8;
            }
        </style>
	</head>
	<body>
        <div id="dots" class="dots"></div>
        <div id="centerMain" class="grappl">
            <input class="grapplr" type="text" spellcheck="false" name="query" id="aliasInput" placeholder="nickname this page..." autofocus autocomplete="off" x-webkit-speech/>
        </div>
        <div class="toolbar" id="bottomtoolbar">
            <div class="left_tools">
            </div>
            <div class="center_tools">
            </div>
            <div class="right_tools">
            </div>
        </div>
	</body>
    <grapplrEngine>
        <script src="js/grapplrEngine/functions/alias.js"></script>
    </grapplrEngine>
</html>
